{% extends base_template %}
{% block content %}
<div class="row mt-5">
    <h4>Digite uma URL e receba sua versão encurtada</h4>
    <form id="url-form" action="/new" method="post">
        <div class="d-flex">
            <input type="text" id="url" class="form-control">
            <button type="button" id="send-url" class="btn btn-primary">Encur.te!</button>
        </div>
    </form>
    <div class="mt-3 visually-hidden" id="alert-container">
        <div class="alert alert-danger" role="alert">
            A URL fornecida não é válida
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const $sendUrl = document.getElementById('send-url')
    document.getElementById('url-form').addEventListener('submit', function(e) {
        e.preventDefault()
        return checkUrlIsValid(e)
    })
    document.getElementById('url').addEventListener('focus', hideAlert)
    function hideAlert(e) {
        document.getElementById('alert-container').classList.add("visually-hidden")
    }
    function showAlert(e) {
        document.getElementById('alert-container').classList.remove('visually-hidden')
    }
    function checkUrlIsValid(e) {
        const $urlField = document.getElementById('url')
        const urlForTest = $urlField.value.trim()
        $urlField.value = urlForTest
        const re = /(http(s*)\:\/\/)?(\w+\.)+\w+(\:\d+)*/
        const found = urlForTest.search(re)
        if (found > -1) {
            const $urlForm = document.getElementById('url-form')
            $urlForm.submit()
        }
        else {
            showAlert(e)
        }
        return false
    }
    $sendUrl.addEventListener('click', checkUrlIsValid)

</script>
{% endblock %}